.nav-intro{
    background-color: rgb(31, 31, 37);
    padding: 10px;
}
h3.nav-greeting{
    margin: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
}
h1{
    font-family: "Dancing script", cursive;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}
a{
    color: rgb(233, 204, 210);
}
a:hover{
    text-decoration: none;
    color:rgb(233, 204, 210) ;
}
h3{
    display: inline;
    text-decoration: none;
}
img{
    border-radius: 10px;
}
.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.7s;
    padding-top: 60px;
}
.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover{
    color: rgb(233, 204, 210);
}
span:hover{
    cursor: pointer;
}
.sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
h2{
    text-align: center;
}
p{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
p{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
div.place-holder{
    width: 310px;
    display: inline-block;
}
table{
    display: inline;
    margin-right: 40px;
}
th{
    text-align: center;
}
.td-p{
    text-align: center;
}
/* Bootstrap Edit // Modal */
.container{
    display: inline;
}
button.btn.btn-info.btn-lg {
    margin: 0px 35px;
}
img.modal-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p.modal-description{
    text-align: center;
}
i.modal-price-display{
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}